.TextInput {
  font-size: large;
  border: 1px solid #EEEEEE;
  padding: 5px;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
}

.TextInput:focus {
  outline: none;
  border-color: #719ECE;
  box-shadow: 0 0 10px rgb(50,100,153);
  transform: scale(1.04);
  transition: .25s ease-in-out;
}

.Button {
  display: block;
  margin: 10px auto;
  padding: .5rem;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(to bottom, #009c9c 2%, #0e7d7d 100%);
  border-radius: 6px;
  color: #fafafa;
  cursor: pointer;
}